/*Colors*/
/*Brown = #999080, Pale Orange = #CC880A, Dark Orange = #FF6505, Blue = #47FFD0, Green = #10CC67  */
.row{
	text-align: center;
}
.logo{
	text-align: center;
	margin-top: 15px;
	font-size: 30px;
	font-weight: bold;
	color: #999080;
}

.title{
	position: relative;
	bottom: 10px;
	left:70px;
}

.char{
	margin-top: 5%;
	width: 60%;
	opacity: 1;
}

.instruct{
	text-align: center;
	color: white;
	font-size: 30px;
	line-height: 50px;
	display: inline;
	vertical-align: middle; 
	margin-bottom: 10px;
}

.opponent, .your_player{ 
	text-align: center; 
	font-size: 26px;
	font-weight: bold;
	color: white;
	background-color: #CC880A;
 }

.charname{
	margin: 10px;
	font-size: 26px;
	color: #10CC67;
}

.health0, .health1, .health2, .health3{
	font-size: 24px; 
	font-weight: bold; 
	color: #999080;
}

.notes{
	color: #999080;
	font-size: 20px;
	font-weight: bold;
}

#sloth{
	width:80%;
	position: relative;
	top: 45px;
}

#judy{
	width: 55%;
	position: relative;
	bottom: 10px;
}

#attack_btn{
	font-weight: bolder;
	font-size: 22px;
}

#you, #opp{
	width: 45%;
	vertical-align: center;
}

#instruct_row{
	background-color: #FF6505;
}

.player_border{
	border-style: solid; 
	border-width: 3px;
	border-color:#47FFD0 ;
/*  -webkit-filter: drop-shadow(4px 3px 0  #47FFD0)
                  drop-shadow(-4px -3px 0  #47FFD0);
  filter: drop-shadow(4px 3px 0  #47FFD0) 
          drop-shadow(-4px -3px 0  #47FFD0);*/
}

.enemies_border{
	border-style: solid;
	border-width: 3px;
	border-color:#FF6505 ;
/*  -webkit-filter: drop-shadow(4px 3px 0  #FF6505)
                  drop-shadow(-3px -3px 0  #FF6505);
  filter: drop-shadow(4px 3px 0  #FF6505) 
          drop-shadow(-3px -3px 0  #FF6505);*/
}

#bottom{
	position: absolute;
	bottom: 0;
	margin: 5px;
	left: 15%;
}

#restart_btn{
	font-size: 22px;
	background-color: #999080;
}